/*THE PLAN: 

h2: long long ago -  light blue, left align, far far startis new line

h1: star wars - needs to be hollow, yellow, adjust size of s for length, center align

h4: center, light yellow

h3: yellow, upper case, center

p: justify, yellow 


font-family: 'Oswald', sans-serif;
h1: #FFEA1D
light yellow: #FFFF6C
teal: #00EDED;

NOTES:
use animation-play-state with fullpageJS to control playing;
*/

/* universals */
@font-face {
    font-family: 'distant_galaxyregular';
    src: url('DISTGRG_-webfont.eot');
    src: url('DISTGRG_-webfont.eot?#iefix') format('embedded-opentype'),
         url('DISTGRG_-webfont.woff') format('woff'),
         url('DISTGRG_-webfont.ttf') format('truetype'),
         url('DISTGRG_-webfont.svg#distant_galaxyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
	width: 100%;
	/*height: 100%;*/
	background-image: url('../images/background.jpg');
	background-repeat: repeat;
	/*display: block;*/
    margin: 0;
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
	/*position: absolute;*/
}
/*bases for all animations */
.animation-element {
  opacity: 0;
  /*position: relative;*/
}

/*pages, text below */
.page {
	width: 100%;
	/*height: 800px;*/
	/*display: block;*/
}

.one{
	/*position: absolute;*/
	width: 100%;
	/*opacity: 0; to change using keyframes */
	animation: one 6s ease-out 1s;
	animation-fill-mode: forwards;
}

.two {
	display: block;
}
/*animation for sections */
/*.page {

	background-color: red;
	
} */

.three {
	display: block;
}

#three {
	overflow: hidden; /*so that scroll works with fullpagejs */
	transform: perspective(200px); /*this does nothing right now*/
}


.animation-element.two{
	opacity: 0;
	animation: two 4s ease-out 1s;
	animation-fill-mode: forwards;
}

/*text */
/* "a long long time ago..." */
h2 {
	color: #00EDED;
	text-align: left;
	font-size: 4em;
	margin-top: 10%;
}


/*STARWARS */

h1 {
	color: #000;
	text-align: center;
	font-size: 10em;
	letter-spacing: -.08em;
	-webkit-text-stroke: 4px #FFEA1D;
	font-weight: 800;
	font-family: 'distant_galaxyregular';
}


.char1, .char9 {

}

/*letter crawl */

/*font stuff for letter crawl */

h2, h1, h3, h4, p {
	width: 60%;
	margin: 0 auto;
}

h4, h3 {
	color: #FFFF6C;
	text-align: center;
	font-size: 5em;
}

h3 {
	text-transform: uppercase;
}

p {
	color: #FFFF6C;
	text-align: justify;
	font-size: 7em;
	padding-bottom: 2em;
}

.upper {
	text-transform: uppercase;
}

/* text body, fades into background */


/*easter egg tie fighter */

#tie {
	width: 150px;
}
.tie {
	position: relative;
	bottom: 100px;
	right:-20px;
	-webkit-transition: 2s ease-in-out;
    -moz-transition: 3s ease-in-out;
    -o-transition: 3s ease-in-out;
    transition: 3s ease-in-out;


}
.tie:hover{
	 -webkit-transform: translate(740px,-500px);
    -moz-transform: translate(740px,-500px);
    -o-transform: translate(740px,-500px);
    -ms-transform: translate(740px,-500px);
    transform: translate(740px,-500px);
    z-index: -9999;
}



/* KEY FRAMES ***/

/* fades in long long time ago and stays there */

@keyframes one {
	to {
		opacity: 1;
	}
}

@keyframes two {
	0% {
		transform: scale(2.75);
		opacity: 1;
	}
	100% {
		opacity: 1;
		transform: scale(.1);
	}
}



